.Linha{
    height: 60vh;

    .ColunaAvisos{
    
        // border: 2px solid rgb(0, 255, 0);
        background-color: #f1f1f1;
        align-items: center;
        justify-content: center;
        padding: 2vh 1vw;
    }
    .ColunaAviso{
        background-color: #f1f1f1;
        align-items: center;
        justify-content: center;
        padding: 2vh 1vw;
    }
}


 